/*
	Name:			Clayton's Website Home
	Date:			7/29/17
	Programmer:		Clayton Cockrell
			
	Description:	This webpage is the Home section of the website. It displays information about the website
					and gives the user access to the other three sections of the website (Profile, Lean, and
					Games). Please enjoy using the website.
							
	Filenames:		HTML	home.html
			
					CSS		css/
							home_styles.css
									
					JS		js/
							home_script.css
									
					Images	img/
							header.png
							background.png
*/

/* Body Styles */
body {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-o-user-select: none;
	background-image: url("../img/background.png");	
	font-family: Verdana, Sans-serif;
	background-size: 400px 200px;
	background-repeat: repeat;
	overflow: auto;
	height: 100vh;
}

/* Header Styles */
header {
	display: block;
	float: left;
	margin-left: 2%;
	width: 96%;
}

header img {
	width: 100%;
}

/* Welcome Paragraph Styles */
p#welcome {
	display: block;
	float: left;
	clear: left;
	margin-left: 2%;
	width: 90%;
	background-color: white;
	border: 5px inset rgb(50, 200, 100);
	font-size: 1em;
	padding: 5px 5px 5px 5px;
}

/* Tabs Unordered List Styles */
ul {
	list-style-type: none;
	padding-left: 5%;
}

li {
	display: block;
	float: left;
	clear: left;
	background-color: rgba(50, 200, 100, 0.3);
	border: solid 2px black;
	padding: 5px 5px 5px 5px;
	margin-top: 10px;
	margin-left: 0%;
	text-decoration: none;
	color: black;
	width: 90%;
}

li h1 {
	font-size: 25px;
}

li#games {
	margin-bottom: 5%;
}

li#home:hover {
	background-color: rgb(50, 50, 50);
	color: white;
	clip: auto;
}

li#profile:hover {
	background-color: rgb(200, 50, 50);
	color: white;
}

li#learn:hover {
	background-color: rgb(50, 200, 50);
	color: white;
}

li#games:hover {
	background-color: rgb(50, 50, 200);
	color: white;
}

/* Tooltip Span Styles */
span.tooltip {
	position: absolute;
	visibility: visible;
	background-color: white;
	font-size: 12px;
	color: black;
	border: solid 2px black;
	padding: 2px 2px 2px 2px;
}